In [1]:
import pandas as pd
url = "data/nhanes_2015_2016.csv"
da = pd.read_csv(url)

In [2]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [4]:
da['BMXWT'].mean()         # we can get a mean

81.34267560889516

Demographics on education: https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/SMQ_I.htm

In [5]:
da['DMDEDUC2'].unique()    # Categorical Ordered

array([ 5.,  3.,  4.,  2., nan,  1.,  9.])

In [6]:
g = da['RIAGENDR']    # Categorical, Unordered 
g

0       1
1       1
2       1
3       2
4       2
       ..
5730    2
5731    1
5732    2
5733    1
5734    2
Name: RIAGENDR, Length: 5735, dtype: int64

In [7]:
g.unique()

array([1, 2])

# One Hot Encoding

In [8]:
B = ['bird','cat','dog', 'cat', 'bird', 'bird']


d = {'categorical': B}

df = pd.DataFrame(d)

In [9]:
df

  categorical
0        bird
1         cat
2         dog
3         cat
4        bird
5        bird

In [10]:
df['categorical']

0    bird
1     cat
2     dog
3     cat
4    bird
5    bird
Name: categorical, dtype: object

In [11]:
# "dummies" is used to create columns corresponding to unique values
dfDummies = pd.get_dummies(df['categorical'], prefix = 'category')

In [12]:
dfDummies

   category_bird  category_cat  category_dog
0              1             0             0
1              0             1             0
2              0             0             1
3              0             1             0
4              1             0             0
5              1             0             0

In [13]:
dfDummies.values

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0]], dtype=uint8)